@font-face { 
	font-family: Oswald-Regular;
	src: url('../fonts/Oswald/Oswald-Regular.ttf');
} 

@font-face { 
	font-family: Oswald-Light;
	src: url('../fonts/Oswald/Oswald-Light.ttf');
} 

@font-face { 
	font-family: Oswald-Bold;
	src: url('../fonts/Oswald/Oswald-Bold.ttf');
} 

h1{
	font-family: Oswald-Bold, sans-serif;
}

h2{
	font-family: Oswald-Regular, sans-serif;
}

footer{
    margin-top:30px;
	width:100%;
	text-align:center;
}

img.profile_student{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width:200px;
}

img.flag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width:100px;
}   
    
}
